.box1-container {
  width: 200px;
  height: 100px;
  background-color: red;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: blue;
  text-transform: uppercase;
  border-style: solid;
  border-width: 5px;
  border-color: green;
  position: absolute;
}

.box2-container {
  width: 200px;
  height: 100px;
  background-color: yellow;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  border-style: solid;
  border-width: 5px;
  border-color: red;
  position: absolute;
  left: 250px;
}

.box3-container {
  width: 200px;
  height: 100px;
  background-color: green;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: blue;
  text-transform: uppercase;
  border-style: solid;
  border-width: 5px;
  border-color: yellow;
  position: absolute;
  left: 500px;
}